# Environment
PORT=

# Database
DATABASE_URL=

# Better Auth
WEB_APP_URL=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Ollama
OLLAMA_BASE_URL=
OLLAMA_MODEL=

# Whisper
WHISPER_CPP_BINARY_PATH=
WHISPER_CPP_MODEL_PATH=
WHISPER_CPP_LANGUAGE=pt
FFMPEG_BINARY_PATH=ffmpeg
SPEECH_TO_TEXT_TIMEOUT_MS=120000
